In [17]:
#ALL ABOUT PHYTON PRATICE



print("ALI")

ALI

In [ ]:
a=input("WHAT IS UR NAME")

In [ ]:
b = 23
c = 56
print(c+b)

In [ ]:
a = 40
u = 60
b = u%a
print(b)

In [ ]:
age=90
age+=1
print(age)

In [11]:
#MARKSHEET OF 10TH STUDENTS



print("--------------------------------------------------------------------")
print("-----------------------------MARKSHEET------------------------------")
name = str(input("ENTER YOUR NAME: "))
fat = str(input('ENTER YOUR FATHER NAME: '))
roll_no = int(input("ENTER YOUR ROLL NO: "))
mat = float(input("ENTER YOUR MATHS MARKS: "))
eng = float(input("ENTER YOUR ENGLISH MARKS: "))
urdu = float(input("ENTER YOUR URDU MARKS: "))
phy = float(input("ENTER YOUR PHYSICS MARKS: "))
comp = float(input("ENTER YOUR COMPUTER MARKS: "))
print("---------------------------------------------------------")
print()

obt = mat+eng+urdu+phy+comp
per=(obt/500)*100
if (per>=90 and per<=100):
        print("YOUR GRADE IS A+")
        print("YOUR PERCENTAGE is:",per,"%")
        print("YOUR OBTAINED MARKS: ",obt)
        
elif (per>=80 and per<90):
        print("YOUR GRADE IS A")
        print("YOUR PERCENTAGE is:",per,"%")
        
elif (per>=70 and per<80):
        print("YOUR GRADE IS B")
        print("YOUR PERCENTAGE is:",per,"%")
        
elif (per>=60 and per<70):
        print("YOUR GRADE IS c")
        print("YOUR PERCENTAGE is:",per,"%")
        
elif (per>=50 and per<60):
        print("YOUR GRADE IS d")
         print("YOUR PERCENTAGE is:",per,"%")

--------------------------------------------------------------------
-----------------------------MARKSHEET------------------------------
ENTER YOUR NAME: ALI BAKSH
ENTER YOUR FATHER NAME: ALLAH BAKSH
ENTER YOUR ROLL NO: 09876
ENTER YOUR MATHS MARKS: 89
ENTER YOUR ENGLISH MARKS: 90
ENTER YOUR URDU MARKS: 78
ENTER YOUR PHYSICS MARKS: 97
ENTER YOUR COMPUTER MARKS: 69
---------------------------------------------------------

YOUR GRADE IS A
YOUR PERCENTAGE is: 84.6 %

In [20]:
#list
citiies=["dgdggd","djhdjhdjdj","djdjdjhjd",8989]
print(citiies)
print(citiies[2])
citiies.append("fgbfb")
print(citiies)
citiies.insert(2,"gfgfg")
print(citiies)
ccitiies=citiies[:5]
print(citiies[:5])

['dgdggd', 'djhdjhdjdj', 'djdjdjhjd', 8989]
djdjdjhjd
['dgdggd', 'djhdjhdjdj', 'djdjdjhjd', 8989, 'fgbfb']
['dgdggd', 'djhdjhdjdj', 'gfgfg', 'djdjdjhjd', 8989, 'fgbfb']
['dgdggd', 'djhdjhdjdj', 'gfgfg', 'djdjdjhjd', 8989]

In [7]:
ali = [7, 4, 7, 8, 5, "mmm"]
print(ali)
ali.remove("mmm")
print(ali)
del ali[0]
print(ali)
type(ali)
len(ali)

[7, 4, 7, 8, 5, 'mmm']
[7, 4, 7, 8, 5]
[4, 7, 8, 5]

4

In [12]:
#popiing
p = [1,2,3,4,5,6,7,8,9,0]
p.pop(4)
o = p.pop(0)
print(p)
u = [p.pop(4), p.pop(0), 6, 8, 77]
print(u)

[2, 3, 4, 6, 7, 8, 9, 0]
[7, 2, 6, 8, 77]

In [16]:
#tuples
pak = ("Karachi", "LAHORE", "QUETTA", "ISLAMABAD", "PESHWAR")
type(pak)
print(pak)

('Karachi', 'LAHORE', 'QUETTA', 'ISLAMABAD', 'PESHWAR')

In [12]:
#for loop

''''name = "ali"
nam = ["abbas","noor", "kabeer", "sageer", "ali", "rehmat"]
for n in nam:
    if name==n:
        print("ALI IS HERE")'''

#Nested for loop
name = ["ALI","ABBAS", "SAGEER", "ANEES"]
f_name = ["BAKSH", "LAL","RR","RAJU"]
full_name = []


for fi_name in name:
    for l_name in f_name:
        full_name.append(fi_name+" "+l_name)
     
        
print(full_name)

name = "yyjyPPPPPy"

print(name.lower())

['ALI BAKSH', 'ALI LAL', 'ALI RR', 'ALI RAJU', 'ABBAS BAKSH', 'ABBAS LAL', 'ABBAS RR', 'ABBAS RAJU', 'SAGEER BAKSH', 'SAGEER LAL', 'SAGEER RR', 'SAGEER RAJU', 'ANEES BAKSH', 'ANEES LAL', 'ANEES RR', 'ANEES RAJU']
yyjypppppy